[submodule "bundle/railscasts-theme"]
	path = bundle/railscasts-theme
	url = https://github.com/carakan/new-railscasts-theme.git
[submodule "bundle/lightline.vim"]
	path = bundle/lightline.vim
	url = https://github.com/itchyny/lightline.vim
